.centerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc( 100vh - 20px);
}

.flexcolumn{
    flex-direction: column;
}

.submenu{
    padding-left: 10px !important;
}

.selected{
    color:inherit;
}

.title404{
    font-size: 3rem;
}
.icon404{
    font-size:3rem !important;
}